.copyright footer{
    background-color: transparent;
    display:block;
    width: 100%;
    height: 50px;
   margin-top: 10px;
   padding: 50px;

}

.copyright li{
    color:aliceblue;
    background-color: transparent;
    bottom: 0;
    padding-left: 150px;
    padding-right: 100px;
    line-height: 35px;
    float: left;
    list-style: none;
}
.copyright li a{
    background-color: transparent;
    text-decoration: none;
   color:white
}
.copyright li a:hover{
    color: darkblue;
}
footer ul {
    list-style: none; 
    margin: 0;
    padding: 0;
    display: flex;     
    flex-direction: row; 
    justify-content: space-around;
    background-color: transparent;    
}

footer ul li {
    display: flex;      
    align-items: center;
    gap: 8px;   
    background-color: transparent;       
}


.copyright {
  background-color: #1F6239;
  color: white;
  margin-top: 30px;
  padding-top: 5px;
  padding-left: -10px; 
}

.copyright footer,
.copyright ul,
.copyright li {
  background-color: transparent; 
  color: white;
  margin: 0;
  padding: 0;
  list-style: none;
}
i{
    background-color: transparent;
}