*{
    background-color:aliceblue;
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
    margin-top: 0;
   
}
.cont{
    display : flex;
    justify-content: center;
    align-items: center;
     background-color: lightgrey;
     min-height: 89.7vh;
    
     
}

div .cont{
    margin-top: -10px;
}
.cont form{
    background-color:#1F6239;
    padding: 20px;
    border-radius: 5%;
    margin-top: -25px;
    
}
.cont label ,p {
    background-color:transparent;
    color: white;
}
.feedback{
    grid-area: feedback;
    margin-left: 25px;
    margin-top: 45px;
    margin-bottom: -20px;
    width: 540px;
}
#feedback{
    font-size: 20px;
}
.feedback label{
    font-size: 30px;
    font-style:oblique;
    font-weight: bolder;
    margin-left: 15%;
}
#feedback{
    background-color: white;
    padding: 15px;
    border: none;
    border-radius: 10px;
    margin-bottom: 5px;
    resize: none;
}
#par{
    font-size: 18px;
    width:550px;
}
#submit{
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 5px;
    font-size: 20px;
    width: 540px;
    height: 25px;
    border: none;
    transition: background-color 0.7s ease-in-out, color 0.7s ease-in-out;
}
#submit:hover{
    background-color:#ed7070;
    color: white;
}