.containnn{
    display: flex;
    justify-content: center;
    margin-top: 0;
    min-height: 100vh;
    overflow-y: hidden;
    background-color: #FFFFFF;
}
.p{
    background-color: transparent;
    color: black;
}
.reset{
    margin:20px 20px 20px 20px;
}
#emails{
    margin-left: 90px;
    margin-bottom: 20px;
}
#resend_otp{
    margin-left: 20px;
    padding-left: 2px;
}

.otp-container {
  display: flex;
  align-items: center;
  gap: 50px; 
}

.fieldsett{
    width:200px;
    padding:20px 50px 20px 50px ;
    border:3px solid black;
    background-color: #ffffff;
    margin-left: -50px;
    margin-top: 170px;
}
.h{
    text-align: center;
    padding-bottom: 10px;
    width: 250px;
    background-color: transparent;
    margin-bottom: 10px;
    
}
.btnn{
    background-color: coral;
    color: white;
    border:none;
    font-size: 15px;
    text-align: center;
    margin-left: 70px;
    width: 90px;
    border-radius: 5px;
    transition: background-color 1s ease-in-out, color 1s ease-in-out;
}
.btnn:hover{
    color: black;
    background-color: rgb(4, 234, 38);
}
.panell {
      display: none;
      background-color: transparent;
     margin-right: 100px;
}
.activee {
      display: block;
}
#otp-box {
      display: flex;
      gap: 10px;
}
.otp-input {
     width: 40px;
     height: 40px;
    font-size: 18px;
    text-align: center;
    margin: 20px auto;
    background-color: white;
    border: 1.5px solid black;
}
.labb{
    font-size: 20px;
    font-weight: lighter;
    background-color: transparent;
    font-family: 'Times New Roman', Times, serif;
    
}
#emaill{
    background-color:#ffffff !important;
    margin-left: 10px ;
     height: 25px;
      width: 200px;
      margin-left: 20px;
      border: 1.5px solid black;
      margin-top: 3px;
      padding: 0;
}
#passwordds,#confirm_passwordds{
    width: 230px;
    height: 25px;
    background-color: #ffffff ;
    border: 1.5px solid black;
}
#confirm_passwordds{
    margin-bottom: 10px;
}