.navigation img{
    width:150px;
    height: 25px;

}
 .navigation {
    background-color: #1F6239;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    /* margin-left: -35px;
    margin-right: -35px; */
}

.navigation img {
    height: 50px; 
}

.navigation ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-grow: 1;
    justify-content: flex-start;
    gap: 20px;
    background-color: transparent;
}

.navigation ul li {
    position: relative;
    background-color: transparent;
    color: aliceblue;
}

.navigation ul li a {
    text-decoration: none;
    background-color: transparent;
    padding: 10px;
    display: block;
    color: aliceblue;
 
}
.navigation ul li a:hover{
    color: red;
}

.account-menu {
    margin-top: 8px ;
    margin-left: auto;
    cursor: pointer;
    
}

.account-menu .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 10;
}

.account-menu .dropdown li a {
    padding: 10px 15px;
    display: block;
    color: black;
    white-space: nowrap;
}

.account-menu:hover .dropdown {
    display: block;
    background-color:whitesmoke;
}